name: Build and Push Docker Image

on:
  push:
    branches: [ "master" ]
    tags: [ 'v*.*.*' ]
  pull_request:
    branches: [ "master" ]

jobs:
  build_and_push_to_ghcr:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Extract version from GITHUB_REF
      id: vars
      run: |
        if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
          VERSION="${GITHUB_REF#refs/tags/}"
        else
          VERSION="latest"
        fi
        echo "::set-output name=version::$VERSION"

    - name: Convert GitHub repository owner to lowercase
      id: to_lowercase
      run: echo "REPO_OWNER=$(echo ${{ github.repository_owner }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

    - name: Build and push backend image to GitHub Container Registry
      uses: docker/build-push-action@v2
      with:
        context: ./backend
        push: true
        tags: |
          ghcr.io/${{ env.REPO_OWNER }}/hydro-docker-backend:latest
          ghcr.io/${{ env.REPO_OWNER }}/hydro-docker-backend:${{ steps.vars.outputs.version }}

    - name: Build and push judge image to GitHub Container Registry
      uses: docker/build-push-action@v2
      with:
        context: ./judge
        push: true
        tags: |
          ghcr.io/${{ env.REPO_OWNER }}/hydro-docker-judge:latest
          ghcr.io/${{ env.REPO_OWNER }}/hydro-docker-judge:${{ steps.vars.outputs.version }}

  build_and_push_to_dockerhub:
    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Extract version from GITHUB_REF
      id: vars
      run: |
        if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
          VERSION="${GITHUB_REF#refs/tags/}"
        else
          VERSION="latest"
        fi
        echo "::set-output name=version::$VERSION"

    - name: Convert GitHub repository owner to lowercase
      id: to_lowercase
      run: echo "REPO_OWNER=$(echo ${{ github.repository_owner }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

    - name: Build and push backend image to Docker Hub
      uses: docker/build-push-action@v2
      with:
        context: ./backend
        push: true
        tags: |
          ${{ secrets.DOCKER_USERNAME }}/hydro-docker-backend:latest
          ${{ secrets.DOCKER_USERNAME }}/hydro-docker-backend:${{ steps.vars.outputs.version }}

    - name: Build and push judge image to Docker Hub
      uses: docker/build-push-action@v2
      with:
        context: ./judge
        push: true
        tags: |
          ${{ secrets.DOCKER_USERNAME }}/hydro-docker-judge:latest
          ${{ secrets.DOCKER_USERNAME }}/hydro-docker-judge:${{ steps.vars.outputs.version }}
